body {
    text-align: center;
    max-width: 500px; 
    margin: auto;
}

td {
  height: 165px;
  width: 165px;
}

.columns {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  background-color: white;
  font-size: 25px;
}

.bottom {
  border-bottom: 5px solid black;
  background-color: white;
  font-size: 25px;
}

.bottomRow {
  border-right: 5px solid black;
  background-color: white;
  font-size: 25px;
}

.bottomRightCorner {
  background-color: white;
  font-size: 25px;
}